.lienket{
    text-decoration: none;
    position: relative;
    background-color: black;
    color: white;
    border: solid var(--accentColor) 2px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    display: block;
    margin-left: 10px;
    
    margin-bottom: 10px;
    padding: 3px;
    /* 17px */
    text-decoration: none;
    /* transition: all .25s cubic-bezier(.08, .59, .29, .99); */
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;

  transition: 0.5s;
  
  text-shadow: -1px 0 5px CYAN,
    0 1px 5px RED,
    1px 0 5px CYAN,
    0 -1px 5px RED;
}
html{
    text-shadow: -1px 0 5px CYAN,
    0 1px 5px RED,
    1px 0 5px CYAN,
    0 -1px 5px RED;
  
  }